{% extends 'Shop/home.html' %}
{% load static %}
    {% block st %}
    <style>
     .style{
        font-weight: 100;
        font-style: normal;
     }
     .img-block{
        width: calc(100% - 2em);
        height: auto;
        padding: 0 1em;
        display: flex;
        gap: 1em;
     }
     .thing-desk{
        height: 100%;
     }
     .thing-body{
        width: calc(100% - 2em);
        height: 100%;
        display: flex;
        padding: 1em;
     }
     .thing-info_detail{
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 200px;
        width: 100%;
     }
     .comments{
        flex: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
     }
     .comments_new{
        flex: 1;
     }
     .text{
        display: flex;
        flex-direction: column;
        height: 60%;
        justify-content: center;
     }
     .stars{
      display: flex;
      height: 30px;
      justify-content: center;
      align-items: center;
      gap: 0.4em;
     }
     .star{
      height: 30px;
      width: 30px;
      filter: drop-shadow(2px 2px 1px black);
     }
     .com-form{
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      width: calc(100% - 2em);
      padding: 1em;
      border-bottom-left-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      background-color: rgba(0, 0, 0, 0.6);
     }
     .com-form textarea{
      max-height: 100px;
     }
     .com-form label{
      display: none;
     }
     .btn-place{
      display: flex;
      justify-content: flex-end;
     }
     .com-conteiner{
      width: calc(100% - 2em);
      background-color: rgba(0, 0, 0, 0.6);
      padding: 1em;
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
     }
     .com-conteiner_new{
        height: 100%;
     }
     .comment{
      display: flex;
      justify-content: center;
      gap: 0.5em;
      color: white;
      height: 30px;
      border-bottom: 2px solid white;
     }
     .user{
     font-weight: 600;
    }
     .com{
      font-weight: 100;
      font-style: italic;
     }
     .com_bnt{
      color: white;
      border: 1px solid white;
     }
    </style>
    {% endblock st %}
        {% block cont %}
      <div class="container_all-detail">
        <div class="mt-3"><a href="{% url 'item' item.pk %}" class="btn btn-sm btn-dark">Вернуться на товар</a></div>
          <div class="text-center things-title style">Товар: {{item.name}}</div>
          <div class="thing-body">
            <div class="comments comments_new">
              <div class="com-conteiner com-conteiner_new">
                <h3 class="text-center text-light">Отзывы</h3>
                <div class="d-flex justify-content-end"><a href="http://" class="btn btn-sm btn-outline-dark com_bnt">Всего отзывов - {{count_com}}</a></div>
                {% for com in comments %}
                <div class="comment">
                  <div class="user">
                    {{com.user}}
                  </div>
                  <div class="com">
                    - {{com.comment}}
                  </div>
                  {% if com.user == request.user %}
                  <div>
                    <a href="{% url 'deletecom' com.pk item.pk %}">delete</a>
                  </div>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
                <form action="{% url 'comment' item.pk %}" method="post" class="com-form">
                  {% csrf_token %}
                  {{form_s}}
                  <div class="w-100 btn-place"><button type="submit" class="btn btn-dark">Отправить</button></div>
                </form>
            </div>
          </div>
      </div>
        {% endblock cont %}
        {%block nav%}
        <nav class="navbar navbar-expand-sm navbar bg-light fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand ms-5" href="{% url 'home' %}">{{name}}</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarWithDropdown" aria-controls="navbarWithDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse show" id="navbarWithDropdown">
                <ul class="navbar-nav ms-auto me-5 gap-4">
                  <li class="nav-item ms-auto">
                    <a href="{% url 'results' %}" class="btn btn-outline-dark">Поиск по сайту</a>
                  </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                          {%if user.image%}
                        <img src = {{user.image.url}} alt = "Image" width="100%" height="100%" class="user_image">
                          {%else%}
                        <div class="no_image"></div>
                        {% endif %}
                   </li>
                   <li class="nav-item dropdown me-2" style="display: flex;align-items: center;">
                      {{user.username}}
                  </li>
              
                  {% else %}
                  <li class="nav-item dropdown me-2 center">
                    Безаккаунтовый режим 
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        {%endblock nav%}
        {%block continue%}
        {%endblock continue%}
        {%block script%}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <!--<script src="{% static 'js/shop_ajax.js' %}"></script>-->
        <script>
            const img = document.querySelector('.thing-img')
            
        </script>
        {%endblock script%}