{% extends 'Shop/home.html' %}
{% load static %}
    {% block st %}
    <style>
     .style{
        font-weight: 100;
        font-style: normal;
     }
     .img-block{
        width: calc(100% - 2em);
        height: auto;
        padding: 0 1em;
        display: flex;
        gap: 1em;
     }
     .thing-desk{
        height: 100%;
     }
     .active-img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 71vw;
        height: 60vh;
        background-color: black;
        box-shadow: 0 3px 20px white;
        z-index: 1301;
     }
     .active-img::before{
        content: '';    
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        z-index: 1200;
     }
     .active{
        position: absolute;
     }
     .active-body{
        background-color: rgba(0, 0, 0, 0.7);
     }
     .thing-body{
        width: calc(100% - 2em);
        height: 100%;
        display: flex;
        padding: 1em;
     }
     .thing-info_detail{
        flex: 20%;
        display: flex;
        align-items: center;
        flex-direction: column;
     }
     .comments{
        flex: 80%;
        display: flex;
        justify-content: center;
     }
     .text{
        display: flex;
        flex-direction: column;
     }
    </style>
    {% endblock st %}
        {% block cont %}
      <div class="container_all-detail">
        <div class="mt-3"><a href="{% url 'home2' %}" class="btn btn-sm btn-dark">Вернуться на главную страницу</a></div>
          <div class="text-center things-title style">Товар: {{item.name}}</div>
          <div class="img-block">
            <div class="thing">
                <div class="thing-img">
                  <img src="{{item.img.url}}" width="100%" height="100%"/>
                </div>
                <button type="button" class="btn-close btn-close-white " aria-label="Close"></button>
            </div>
            <div class="thing-desk">
                Описание: {{item.desk}}
            </div>
          </div>
          <div class="thing-body">
            <div class="thing-info_detail">
                <div>
                    <form action="" method="post">
                        <button type="submit" class="btn btn-outline-dark">ADD</button>
                    </form>
                </div>
                <div class="text">
                    <div class="stars"></div>
                    <span>{{item.cat}}</span>
                    <span>{{item.cost}}</span>
                    <span>{{item.count}}</span>
                </div>
            </div>
            <div class="comments">
                IN DEVELOPING
            </div>
          </div>
      </div>
        {% endblock cont %}
        {%block nav%}
        <nav class="navbar navbar-expand-sm navbar bg-light fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand ms-5" href="{% url 'home' %}">{{name}}</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarWithDropdown" aria-controls="navbarWithDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse show" id="navbarWithDropdown">
                <ul class="navbar-nav ms-auto me-5 gap-4">
                  <li class="nav-item ms-auto">
                    <a href="{% url 'results' %}" class="btn btn-outline-dark">Поиск по сайту</a>
                  </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                          {%if user.image%}
                        <img src = {{user.image.url}} alt = "Image" width="100%" height="100%" class="user_image">
                          {%else%}
                        <div class="no_image"></div>
                        {% endif %}
                   </li>
                   <li class="nav-item dropdown me-2" style="display: flex;align-items: center;">
                      {{user.username}}
                  </li>
                  <li class="nav-item dropdown me-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Ваш баланс: {{user.balance}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item text-center" href="">Пополнить счёт</a></li>
                      <li><a class="dropdown-item text-center" href="#">История покупок</a></li>
                      <li><a class="dropdown-item text-center" href="">Скидочный купон</a></li>
                    </ul>
                  </li>
                  {% else %}
                  <li class="nav-item dropdown me-2 center">
                    Ваш баланс: 0 || Безаккаунтовый режим 
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </nav>
        {%endblock nav%}
        {%block continue%}
        {%endblock continue%}
        {%block script%}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            const img = document.querySelector('.thing-img')
            const button = document.querySelector('.btn-close')
            img.addEventListener('click', () => {
                img.classList.add('active')
                document.querySelector('.thing').classList.add('active-img')
                document.querySelector('.content').classList.add('active-body')
                document.querySelector('.container_all-detail').classList.add('active-body')
            })
            button.addEventListener('click', () => {
                img.classList.remove('active')
                document.querySelector('.thing').classList.remove('active-img')
                document.querySelector('.content').classList.remove('active-body')
                document.querySelector('.container_all-detail').classList.remove('active-body')
            })
        </script>
        {%endblock script%}